@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 12px 0;
    background-color: rgb(60, 220, 20);
    
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo img{
    height: 80px;
  
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: rgb(60, 220, 20);
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: rgb(60, 220, 20);
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* home section */
.home{
    display: flex;
    background: url(Resources/PicsArt_05-10-02.25.36\ \(1\).png) no-repeat right; 
    background-color: rgb(29, 26, 26);
    background-blend-mode:color-dodge;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 20px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600px;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: rgb(60, 220, 20);
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: rgb(60, 220, 20);
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(60, 220, 20);
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: rgb(60, 220, 20);
    background: none;
}
/* Similar styling for content */
a{
    text-decoration: none;
}
section{
    padding: 100px 0;
}
.about, .services, .skills, .contact, footer,.pigs{
    font-family: "Poppins", sans-serif;
}
.about .about-content, 
.services .serv-content, 
.skills .skills-content,
.contact .contact-content
.pigs.pigs-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 300px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -14px;
    left: 50%;
    font-size: 20px;
    color: rgb(60, 220, 20); 
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* about section styling */
.about .title::after{
    content: "Broiler Feed Calculation";
}
.about, .pigs{
    height: 900px;
    margin-top: -80px;
}
.about .about-content .left, .pigs .pigs-content.left{
    width: 45%;
}
.about .about-content .left img, .pigs .pigs-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right, .pigs .pigs-content .right{
    width: 55%;
}
.about .about-content .right .text, .pigs .pigs-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}
.about #feedform{
    margin-top: 10px;
}
#feeds {
    background-color: rgb(60, 220, 20);
    border-color: rgb(60, 220, 20);
}
#feedsb{
    background-color: rgb(60, 220, 20);
    border-color: rgb(60, 220, 20);
}
#feedsk{
    background-color: rgb(60, 220, 20);
    border-color: rgb(60, 220, 20);
}
#results{
    font-size: large;
    font-weight: 700;
    margin-top: 20px;
}
#feedform{
    width: 350px;
}

/* Custom styling for form */
.form-group {
    margin-bottom: 1rem;
}

.label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #007bff;
    border: 1px solid #007bff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
}


/* Services Section */
.services{
    color: #fff;
    background: #111;
    height: 950px;
    margin-top: 150px;
}
#keywks{
    margin-left: 70%;
    margin-top:-252px;
}
.services .title::before{
    background: #fff;
}
.services .title::after{
    background: #111;
    content: "Layers Feed Calculations";
}

.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transform: scale(1.05);
}
.services .serv-content .card:hover{
    background: crimson;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.title{
    margin-top: 40px;
}
#susscrofa{
    width: 350px;
}

/* Pigs section styling */
.pigs .title::after{
    content: "Pigs Feed Calculation";
}
.pigs{
    height: 900px;
    margin-top: -80px;
}
.pigs .pigs-content .left{
    width: 45%;
}
.pigs .pigs-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.pigs .pigs-content .right{
    width: 55%;
}
.pigs .pigs-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.pigs .pigs-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.pigs .pigs-content .right .text span{
    color: crimson;
}
.pigs .pigs-content .right p{
    text-align: justify;
}
.pigs .pigs-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.pigs .pigs-content .right a:hover{
    color: crimson;
    background: none;
}

.pigletsform{
    float: right;
}

/* contact section styles */
.contact .title::after{
    content: "Get in Touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 18px;
}
.contact .contact-content .left{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: rgb(60, 220, 20);
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .fields,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .fields input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}
.contact .right form  .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    background: crimson;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: crimson;
    background: none;
}

/* Footer Section Styles */
footer{
    background: #111;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: rgb(60, 220, 20);
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}





/* reponsive media querry */
@media (max-width: 1300px){
   .home .max-width{
       margin-left: 0px;
   }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        height: 300px;
        width: 250px;
        margin-top: -50px;
    }
 }

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
 }

@media (max-width: 947px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;

    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 40px;
    }
    .home .home-content .text-3{
        font-size: 20px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
 }



 /* Media query for screens up to 500px wide */
@media screen and (max-width: 500px) {
    .menu {
        display: none; /* Hide the menu items */
    }

    .menu-btn {
        display: block; /* Show the menu button */
        cursor: pointer;
    }

    .max-width {
        padding: 0 10px;
    }

    .logo img {
        height: 50px; /* Adjust logo height */
    }
    #poupic{
        height: 200px;
    }
}
/* Media query for screens up to 430px wide */
@media screen and (max-width: 430px) {
    /* Adjust logo size */
    .logo img {
        height: 10px;
    }

    /* Hide menu items */
    .menu {
        display: none;
    }

    /* Show menu button */
    .menu-btn {
        display: block;
        cursor: pointer;
    }

    /* Simplify navigation for mobile */
    nav {
        padding: 10px;
    }
    
}

/* Media query for screens up to 430px wide */
@media screen and (max-width: 430px) {
    /* Adjust font sizes and spacing for smaller screens */
    .text-1 {
        font-size: 24px;
    }

    .text-2 {
        font-size: 32px;
    }

    .text-3 {
        font-size: 14px;
    }

    /* Center align text in the home section */
    .home-content {
        text-align: center;
    }

    /* Adjust column layout for about section */
    .column {
        width: 100%;
        margin-bottom: 20px;
    }

    /* Adjust image size */
    .column img {
        width: 100%;
        height: auto;
    }
    
}


#kienyeji{
    margin-top: 2%;
}